<div class="calc-row-container">
    <div class="output-row">
        <div class="output">{{output}}</div>
    </div>
    <div class="calc-row">
        <div class="calc-button-2">
            <calc-button text="ENTER" value="enter"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="C" value="clear"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button icon="backspace" value="backspace"></calc-button>
        </div>
    </div>
    <div class="calc-row">
        <div class="calc-button-1">
            <calc-button text="7" [value]="7"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="8" [value]="8"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="9" [value]="9"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="÷" value="divide"></calc-button>
        </div>
    </div>
    <div class="calc-row">
        <div class="calc-button-1">
            <calc-button text="4" [value]="4"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="5" [value]="5"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="6" [value]="6"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="×" value="multiply"></calc-button>
        </div>
    </div>
    <div class="calc-row">
        <div class="calc-button-1">
            <calc-button text="1" [value]="1"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="2" [value]="2"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="3" [value]="3"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="-" value="subtract"></calc-button>
        </div>
    </div>
    <div class="calc-row">
        <div class="calc-button-2">
            <calc-button text="0" [value]="0"></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="." value="."></calc-button>
        </div>
        <div class="calc-button-1">
            <calc-button text="+" value="add"></calc-button>
        </div>
    </div>
</div>